
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink ="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink ="/employee" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employee List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink ="/product" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Product List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink ="/product/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Product</a>
  </li>
</ul>
